<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf8">
<script type="text/javascript" src="/static/mana1/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="/static/mana1/js/jquery.jeditable.js"></script>
<script type="text/javascript" src="/static/mana1/js/htmltable2csv.js"></script>
<script type="text/javascript" src="http://cl.gialen.com:20800/site_lib/DataTables-1.9.4/DataTables.min.js"></script>
<script type="text/javascript" src="http://cl.gialen.com:20800/site_lib/htmltable2csv/htmltable2csv2.js"></script>
<script type="text/javascript" src="http://cl.gialen.com:20800/site_lib/zeroclipboard/ZeroClipboard.js"></script>
<link href="/static/mana1/css/tablecloth.css" rel="stylesheet" type="text/css" media="screen"/>
<script>
var i=1
$(document).ready(function(){
    $("#sub").bind('click',function(){
        var tips=""
        if ($("#text1").val()!="")
        tips="商品代码:"+$("#text1").val()+"  "
        if ($("#text2").val()!="")
        tips+="商品名称:"+$("#text2").val()+"  "
        if ($("#text3").val()!="")
        tips+="门店代码:"+$("#text3").val()+"  "
        if ($("#text4").val()!="")
        tips+="门店名称:"+$("#text4").val()+"  "
        if ($("#text5").val()!="")
        tips+="大类:"+$("#text5").val()+"  "
        if ($("#text6").val()!="")
        tips+="中类:"+$("#text6").val()+"  "
        if ($("#text7").val()!="")
        tips+="小类:"+$("#text7").val()+"  "

        if(confirm("是否备份 "+tips+"?")) postdata();
    });
});

function postdata(){                              //提交数据函数
    var myobj=new Object();
    myobj={}
    myobj["proid"]=$("#text1").val();
    myobj["proname"]=$("#text2").val();
    myobj["braid"]=$("#text3").val();
    myobj["braname"]=$("#text4").val();
    myobj["prodl"]=$("#text5").val();
    myobj["prozl"]=$("#text6").val();
    myobj["proxl"]=$("#text7").val();
    var jsonlist=JSON.stringify(myobj);

    $.ajax({ //调用jquery的ajax方法
      type: "POST", //设置ajax方法提交数据的形式
      url: "/mana1/backup_maxmin/", //把数据提交到
      data: "jsonlist="+jsonlist, //输入框中的值作为提交的数据
      success: function(msg){ //提交成功后的回调，msg变量是输出的内容。
        $("#shadowDiv").attr("class", "hidDiv");
        $("#tishi").attr("class", "hidDiv");
        alert("备份成功！共"+msg+"条记录")
      },
      error:function(){
        $("#shadowDiv").attr("class", "hidDiv");
        $("#tishi").attr("class", "hidDiv");
        alert("备份失败！");
      }
    });
}
</script>
<style>
    .chaxun tr td{
        border: 1px solid #E5F1F4;
        padding:15px;
    }
    #sub{
        padding:10px 30px;
    }
</style>
<title>上下限备份</title>
</head>
<body>
<h1>上下限备份</h1>
<table class='chaxun'>
        <tr><th colspan="8">请输入备份条件:</th></tr>
        <tr>
            <td>商品代码</td><td><input type='text' id='text1'/></td><td>商品名称</td><td><input type='text' id='text2'/></td><td>门店代码</td><td><input type='text' id='text3'/></td><td>门店名称</td><td><input type='text' id='text4'/></td>
        </tr>
        <tr>
            <td >大类</td><td><input type='text' id='text5'/></td><td>中类</td><td><input type='text' id='text6'/></td><td>小类</td><td><input type='text' id='text7'/></td><td colspan=2><input type="button" id="sub" value="备份"/></td>
        </tr>
        <tr><td colspan="8"></td></tr>
</table>
<div id="edit_area" style="align=left;width:1200px">
<table width="1200" id='result' class="tablesorter">
</table>
</div>
<table width="1200" id="tips">
    <tr><td><div id="title">提示：</div><ul><li>可以按所填条件备份。支持多重条件如：02001,02002 格式以英文逗号分隔。</li></ul></tr>
</table>
</body>
</html>
