<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="">
        <link href="/static/mana1/css/tablecloth.css" rel="stylesheet" type="text/css" media="screen"/>
        <script type="text/javascript" src="/static/mana1/js/jquery-1.7.2.js"></script>
        <script type="text/javascript" src="/static/mana1/js/jeditable2.js"></script>
        <script type="text/javascript" src="/static/mana1/js/htmltable2csv2.js"></script>
        <script type="text/javascript" src="/static/mana1/js/jquery.progressbar/js/jquery.progressbar.js"></script>
        <script type="text/javascript" src="/static/mana1/js/tablesorter_min.js"></script>
        <script type="text/javascript">
            $(function() {
                    $("#mytable").tablesorter();
                    $("#import").bind('click',function(){
                        $("input[type='checkbox']").each(function(){
                            if ($(this).attr("checked")) {
                                $(this).attr("checked", "checked")
                            } else {
                                $(this).removeAttr("checked")
                            }
                            });    //同步
                        $("#edit_area").trigger('showedit',[{"Id":'y'}])
                        });
                    $('#edit_area').editable('/mana1/rewrite/', {
                        type      : 'textarea',
                        indicator : 'Saving...',
                        data      : function(value, setting){
                        return $(value).table2CSV({separator: '\t',delivery:"value"});
                        },
                        cancel    : 'Cancel',
                        event     : 'showedit',
                        submit    : 'OK'
                    });
                    $("#button_sl").toggle(function() { //全选
                            $("input[type=checkbox]").each(function(){
                                $(this).attr("checked", "checked")
                                })
                            },
                            function() {
                            $("input[type=checkbox]").each(function(){
                                $(this).removeAttr("checked")
                            })
                    });
                    function post_ajax(myjson){
                            $.ajax({
                                type:"POST",
                                url:"/mana1/rewrite_verify/",
                                data:"myjson="+myjson, 
                                success: function(msg){
                                    //进度条
                                    $("#spaceused1").empty();
                                    $("#spaceused1").progressBar(100,{ barImage: '/static/mana1/js/jquery.progressbar/images/progressbg_green.gif', showText: true});
                                    $("table").empty().html(msg);
                                }
                            });
                        }
                    $("#rewrite").bind('click',function(){
                            flag="False" //有无勾选
                            $("input[type='checkbox']").each(function(){
                                if ($(this).attr("checked")) {
                                    flag="True";
                                    $(this).attr("checked", "checked");
                                    $("#spaceused1").progressBar(98,{ barImage: '/static/mana1/js/jquery.progressbar/images/progressbg_green.gif', showText: true});
                                } else {
                                    $(this).removeAttr("checked");
                                }
                            });    //同步
                            var myobj=new Object();
                            myobj={};
                            myobj["table"]=$("#edit_area").table2CSV({separator: '\t',delivery:"table"});
                            var myjson=JSON.stringify(myobj);
                            if (flag=="False"){
                                if (confirm('是否全部重写！')){
                                    post_ajax(myjson);
                                    $("#spaceused1").progressBar(98,{ barImage: '/static/mana1/js/jquery.progressbar/images/progressbg_green.gif', showText: true});
                                }
                            }
                            else{
                                post_ajax(myjson);
                            }
                    });
            });
        </script>
        <title>门店配货建议值重算</title>
        <meta name="generator" content="solomon" />
        <meta name="author" content="" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
    </head>
    <body>
        <h1>门店配货建议值重算</h1>
        <button id="rewrite">重算</button>
        <button id="import">导入导出</button>
        <span class="progressBar" id="spaceused1"></span>
        <div id="edit_area" style="height:200;align=left">
            <table width="800" class="tablesorter" id="mytable">
                <thead>
                    <tr><th>重算</th><th>门店代码</th><th>门店名称</th><th>品项数</th><th>库存数量</th><th>建议订货总量</th><th>建议订货总额</th></tr>
                </thead>
                <tbody>
                    {% for item in result %}
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>{{ item.门店代码 }}</td>
                        <td>{{ item.门店名称 }}</td>
                        <td>{{ item.品项数}}</td>
                        <td>{{ item.库存数量}}</td>
                        <td>{{ item.建议订货总量}}</td>
                        <td>{{ item.建议订货总额}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <p></p>
        <label id="button_sl" style="color:grey;font:80%">&nbsp;全选</label>
    </body>
</html>
