<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf8">
<script type="text/javascript" src="/static/mana1/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="/static/mana1/js/jquery.jeditable.js"></script>
<script type="text/javascript" src="/static/mana1/js/htmltable2csv.js"></script>
<link href="/static/mana1/css/tablecloth.css" rel="stylesheet" type="text/css" media="screen"/>
<script type="text/javascript" src="/static/mana1/js/turn_off_light.js"></script>
<link href="/static/mana1/css/turn_off_light.css" rel="stylesheet" type="text/css" media="screen"/>
<script>
$(function() {
    $("#import").bind('click',function(){
         $("#edit_area").css("height","200");
         $("#tips").empty();
         $("#edit_area").trigger('showedit', [{"Id":'y'}])
    });

    $('#edit_area').editable('/mana1/import_maxminCuxiaori/', {
             type      : 'textarea',
             indicator : 'Saving...',
             data      : function(value, setting){
                return $(value).table2CSV({separator: '\t',delivery:"value"});
             },
             cancel    : 'Cancel',
             event     : 'showedit',
             submit    : 'OK'
    });

    $("#save").bind('click',function(){
        turn_off_light()
        var myobj={}
        myobj["table"]=$("#edit_area").table2CSV({separator: '\t',delivery:"table"})
        var myjson=JSON.stringify(myobj);
        $.ajax({
            type:"POST",
            url:"/mana1/save_maxminCuxiaori/",
            data:"myjson="+myjson,
            success: function(msg){
                json=JSON.parse(msg);
                str="<table width='100%'><tr><th>门店代码</th><th>门店名称</th><th>代码</th><th>名称</th><th>代码说明</th><th>上限倍数</th><th>下限倍数</th><th>规则开始时间</th><th>规则结束时间</th><th>备注</th></tr>"
                for(var i=0;i<json.length;i++)
                {
                    str+="<tr><td>"+json[i].mdcode+"</td><td>"+json[i].mdname+"</td><td>"+json[i].xcode+"</td><td>"+json[i].name+"</td><td>"+json[i].excode+"</td><td>"+json[i].max_multiple+"</td><td>"+json[i].min_multiple+"</td><td>"+json[i].startdate+"</td><td>"+json[i].enddate+"</td><td>"+json[i].remark+"</td>"
                    if (json[i].info=="插入成功!")
                        str+="<td>"+json[i].info+"</td></tr>";
                    else
                        str+="<td style='background-color:#FFFF00;'>"+json[i].info+"</td></tr>";
                }
                str+="</table>"
                $("#edit_area").html(str)
                turn_on_light()
            },
            error:function(){
                alert("错误，数据无法保存！")
            }
        });
    });
});
</script>
<title>促销上下限倍数配置</title>
</head>
<body>
<h1>促销上下限倍数配置</h1>
<button id="save">保存</button>
<button id="import">导入</button>
<div id="edit_area" style="height:400px;width:850;align=left">
<table width="100%">
    <tr><th>门店代码</th><th>门店名称</th><th>代码</th><th>名称</th><th>代码说明</th><th>上限倍数</th><th>下限倍数</th><th>规则开始时间</th><th>规则结束时间</th><th>备注</th></tr>
</table>
</div>
</table>
<table width="100%" id="tips">
    <tr><td><p align="left">说明：</p><p align="left">代码说明只能填写“商品代码”，“品牌小类代码”，“大类代码”，“中类代码”，“小类代码”；时间格式为：yyyy-mm-dd。</p><p></p></td></tr>
</table>
</body>
</html>
