<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf8">
<script type="text/javascript" src="/static/mana1/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="/static/mana1/js/jquery.jeditable.js"></script>
<script type="text/javascript" src="/static/mana1/js/htmltable2csv.js"></script>
<script type="text/javascript" src="/static/mana1/js/tablesorter_min.js"></script>
<script type="text/javascript" src="http://cl.gialen.com:20800/site_lib/htmltable2csv/htmltable2csv2.js"></script>
<script type="text/javascript" src="http://cl.gialen.com:20800/site_lib/zeroclipboard/ZeroClipboard.js"></script>
<script type="text/javascript" src="/static/mana1/js/turn_off_light.js"></script>
<link href="/static/mana1/css/turn_off_light.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="/static/mana1/css/tablecloth.css" rel="stylesheet" type="text/css" media="screen"/>
<script>
var i=1
$(document).ready(function(){
    init()
    $("#sub").bind('click',function(){
        postdata();
    });
});

function postdata(){                              //提交数据函数
    var myobj=new Object();
    myobj={}
    myobj["braid"]=$("#braid").val();
    myobj["braname"]=$("#braname").val();
    myobj["barcode"]=$("#barcode").val();
    myobj["proid"]=$("#proid").val();
    myobj["proname"]=$("#proname").val();
    myobj["prodl"]=$("#prodl").val();
    myobj["prozl"]=$("#prozl").val();
    myobj["proxl"]=$("#proxl").val();
    myobj["banben"]=$("#banben").val();
    var jsonlist=JSON.stringify(myobj);

    $.ajax({ //调用jquery的ajax方法
      type: "POST", //设置ajax方法提交数据的形式
      url: "/mana1/insult_maxmin/", //把数据提交到
      data: "jsonlist="+jsonlist, //输入框中的值作为提交的数据
      success: function(msg){ //提交成功后的回调，msg变量是输出的内容。
        //alert("数据提交成功"); //如果有必要，可以把msg变量的值显示到某个DIV元素中
        json=JSON.parse(msg);
        str="<thead><tr><th>门店代码</th><th>门店名称</th><th>条形码</th><th>商品代码</th><th>商品名称</th><th>商品大类</th><th>商品中类</th><th>商品小类</th><th>上限</th><th>下限</th><th>版本</th><th>开始日期</th><th>结束日期</th><th>写入日期</th></tr></thead><tbody>"
        for(var i=0;i<json.length;i++)
        {
           str+="<tr><td>"+json[i].braid+"</td><td>"+json[i].braname+"</td><td>"+json[i].barcode+"</td><td>"+json[i].proid+"</td><td>"+json[i].proname+"</td><td>"+json[i].prodl+"</td><td>"+json[i].prozl+"</td><td>"+json[i].proxl+"</td><td>"+json[i].maxval+"</td><td>"+json[i].minval+"</td><td>"+json[i].banben+"</td><td>"+json[i].startdate+"</td><td>"+json[i].enddate+"</td><td>"+json[i].adddate+"</td></tr>";
        }
        str+="</tbody>"
        $("#shadowDiv").attr("class", "hidDiv");
        $("#tishi").attr("class", "hidDiv");
        $("#result").html(str)
      }
    });
}

var clip
function init() {
        clip = new ZeroClipboard.Client();
        clip.setHandCursor( true );
        clip.addEventListener('load', function (client) {
        });
        clip.addEventListener('mousedown', function (client) {
                clip.setText2($("#result").table2CSV({separator: '\t',delivery:"value"}));
        });
        clip.addEventListener('complete', function (client, text) {
                $("#shadowDiv").attr("class", "hidDiv");
                $("#tishi").attr("class", "hidDiv");
                if (text.length>0){
                    alert("复制成功")
                } else{
                    alert("复制失败")
                }
        });
        clip.glue( 'io' );
}
</script>
<style>
    .chaxun tr td{
        border: 1px solid #E5F1F4;
    }
    .chaxun tr th{
        border: 1px solid #E5F1F4;
    }
</style>
<title>上下限查询</title>
</head>
<body>
<h1>上下限查询</h1>
<div id="shadowDiv" class="hidDiv"></div>
<div id="tishi" class="hidDiv"><p align="center"><img src="/static/mana1/images/loading.gif"></img></p>正在加载数据!请稍后...</div>
<table class='chaxun' width="96%">
        <tr><th colspan="5">请输入查询条件:</th></tr>
        <tr>
            <td>门店代码:<input type='text' id="braid"/></td><td>门店名称:<input type='text' id="braname"/></td><td>&nbsp;&nbsp;条形码:<input type='text' id='barcode'/></td><td>商品代码:<input type='text' id='proid'/></td><td>商品名称:<input type='text' id='proname'/></td>
        </tr>
        <tr>
            <td>商品大类:<input type='text' id='prodl'/></td><td>商品中类:<input type='text' id='prozl'/></td><td>商品小类:<input type='text' id='proxl'/></td><td>版本:<select id="banben"><option value="">请选择版本...</option><option value="A">&nbsp;&nbsp;A&nbsp;&nbsp;</option><option value="B">&nbsp;&nbsp;B&nbsp;&nbsp;</option></select></td><td ><input type="button" id="sub" value="查询"/>&nbsp;<input type="button" id="io" value="复制"/></td>
        </tr>
        <tr><td colspan="5"></td></tr>
</table>
<div id="edit_area" style="align=left;">
<table width="96%" id='result' class="tablesorter">
</table>
</div>
<table width="96%" id="tips">
<tr><td><p align="left">提示：</p><p align="left">&nbsp;&nbsp;为空则显示所有结果(最多20000条记录）。门店代码商品代码支持多重查询，如要查询时代花园店和棠景店可在门店代码输：02001,02002 格式以英文逗号分隔。</p><p></p></td></tr>
</table>
</body>
</html>
