<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf8">
<script type="text/javascript" src="/static/mana1/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="/static/mana1/js/tablesorter_min.js"></script>
<script type="text/javascript" src="/static/mana1/js/jquery.jeditable.js"></script>
<script type="text/javascript" src="/static/mana1/js/htmltable2csv.js"></script>
<script type="text/javascript" src="http://cl.gialen.com:20800/site_lib/DataTables-1.9.4/DataTables.min.js"></script>
<script type="text/javascript" src="http://cl.gialen.com:20800/site_lib/zeroclipboard/ZeroClipboard.js"></script>
<script type="text/javascript" src="/static/mana1/js/turn_off_light.js"></script>
<script type="text/javascript" src="/static/mana1/js/clip.js"></script>
<link href="/static/mana1/css/turn_off_light.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="/static/mana1/css/tablecloth.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="/static/mana1/css/datatable.css" rel="stylesheet" type="text/css" media="screen"/>
<script>
var i=1
$(document).ready(function(){
    oTable = $('#result').dataTable({
        "fnDrawCallback": function( oSettings ) {
          },
        "oLanguage": {
            "sSearch": "搜索:",
            "sLengthMenu": '显示 <select>'+
              '<option value="10">10</option>'+
              '<option value="20">20</option>'+                  
              '<option value="50">50</option>'+
              '<option value="-1">All</option>'+
              '</select> 条记录',
            "sInfo": "当前显示的是从第 _START_ 到第 _END_ 条记录 (共 _TOTAL_ 条)",
            "sInfoFiltered": " 　来源记录共 _MAX_ 条"
          }
    });
    clip();
    $("#result").tablesorter();
});

</script>
<style>
    .chaxun tr td{
        border: 1px solid #E5F1F4;
    }
    .chaxun tr th{
        border: 1px solid #E5F1F4;
    }
</style>
<title>商品暂停订货范围规则查询</title>
</head>
<body><h1>商品暂停订货范围规则查询</h1>
<!-- 加载提示 -->
<div id="shadowDiv" class="hidDiv"></div>
<div id="tishi" class="hidDiv"><p align="center"><img src="/static/mana1/images/loading.gif"></img></p>正在加载数据!请稍后...</div>
<!-- 加载提示 -->
<input type="button" id="io" value="&nbsp;复制&nbsp;"/></ br>
<div id="main" style="align=left" width="100%">
<table id='result' class="tablesorter" width="100%">
        <thead><tr><th>门店代码</th><th>门店名称</th><th>代码</th><th>代码名称</th><th>代码说明</th><th>规则开始日期</th><th>规则结束日期</th></tr></thead><tbody>
        {% for rs in rec %}
        <tr><td>{{ rs.braid }}</td><td>{{ rs.braname }}</td><td>{{ rs.xcode }}</td><td>{{ rs.xname }}</td><td>{{ rs.excode }}</td><td>{{ rs.startdate }}</td><td>{{ rs.enddate }}</td></tr>
        {% endfor %}
        </tbody>
</table>
</div>
<p></p>
</body>
</html>
