<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf8">
<script type="text/javascript" src="/static/mana1/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="/static/mana1/js/tablesorter_min.js"></script>
<script type="text/javascript" src="/static/mana1/js/jquery.jeditable.js"></script>
<script type="text/javascript" src="/static/mana1/js/htmltable2csv.js"></script>
<script type="text/javascript" src="http://cl.gialen.com:20800/site_lib/DataTables-1.9.4/DataTables.min.js"></script>
<script type="text/javascript" src="http://cl.gialen.com:20800/site_lib/htmltable2csv/htmltable2csv2.js"></script>
<script type="text/javascript" src="http://cl.gialen.com:20800/site_lib/zeroclipboard/ZeroClipboard.js"></script>
<script type="text/javascript" src="/static/mana1/js/clip.js"></script>
<link type="text/css" href="/static/mana1/css/tablecloth.css" rel="stylesheet" media="screen"/>
<link href="/static/mana1/css/datatable.css" rel="stylesheet" type="text/css" media="screen"/>
<script type="text/javascript" src="/static/mana1/js/turn_off_light.js"></script>
<link href="/static/mana1/css/turn_off_light.css" rel="stylesheet" type="text/css" media="screen"/>
<script>
var i=1
$(document).ready(function(){
    clip();
    oTable = $('#result').dataTable({
        "bDestroy":true,
        "fnDrawCallback": function( oSettings ) {
          },
        "oLanguage": {
            "sSearch": "搜索:",
            "sZeroRecords": "没有检索到数据",
            "sLengthMenu": '显示 <select>'+
              '<option value="10">10</option>'+
              '<option value="20">20</option>'+
              '<option value="50">50</option>'+
              '<option value="-1">All</option>'+
              '</select> 条记录',
            "sInfo": "当前显示的是从第 _START_ 到第 _END_ 条记录 (共 _TOTAL_ 条)",
            "sInfoFiltered": " 　来源记录共 _MAX_ 条",
            "sInfoEmtpy": "没有数据",
            "sProcessing": "正在加载数据...",
            "oPaginate":
            {
                "sFirst": "首页",
                "sPrevious": "上一页",
                "sNext": "下一页",
                "sLast": "尾页"
            }
          }
    });
});
</script>
<style>
    .chaxun tr td{
        border: 1px solid #E5F1F4;
    }
    .chaxun tr th{
        border: 1px solid #E5F1F4;
    }
</style>
<title>查询按销售估算的上下限</title>
</head>
<body><h1>查询按销售估算的上下限</h1>
<form method="post" action="/mana1/insult_shangxiaxian/">
请输入要查询的门店：<input type="text" id="mendian" name="mendian"/>&nbsp;<input type="submit" id="chaxun"  value="&nbsp;查询&nbsp;"/>&nbsp; <input type="button" id="io" value="&nbsp;复制&nbsp;"/>
<br /><br />
<div id="edit_area" style="align=left">
<table width="100%" id='result' class="tablesorter">
    <thead><tr><th>门店代码</th><th>门店名称</th><th>商品代码</th><th>商品名称</th><th>大类</th><th>中类</th><th>小类</th><th>LW1</th><th>LW2</th><th>LW3</th><th>LW4</th><th>上限</th><th>下限</th><th>原上限</th><th>原下限</th></tr></thead><tbody>
    {% for rs in result %}
    <tr><td>{{ rs.braid }}</td><td>{{ rs.braname}}</td><td>{{ rs.proid}}</td><td>{{ rs.proname}}</td><td>{{ rs.prodl}}</td><td>{{ rs.prozl}}</td><td>{{ rs.proxl}}</td><td>{{ rs.week1_qty}}</td><td>{{ rs.week2_qty}}</td><td>{{ rs.week3_qty}}</td><td>{{ rs.week4_qty}}</td><td>{{ rs.maxval}}</td><td>{{ rs.minval }}</td><td>{{ rs.oldmaxval}}</td><td>{{ rs.oldminval}}</td></tr>
    {% endfor %}
</tbody>
</table>
</div>
</form>
<p></p>
<table width="100%" id="tips">
<tr><td><p align="left">提示：</p><p align="left">&nbsp;&nbsp;为空则显示所有结果(最多2万条记录）。门店代码商品代码支持多重查询，如要查询时代花园店和棠景店可在门店代码输：02001,02002 格式以英文逗号分隔。LW1指上周销售数量,LW2倒推两周销售数量,LW3倒推三周销售数量,LW4倒推四周销售数量。</p><p></p></td></tr>
</table>
</body>
</html>
