<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf8">
<script type="text/javascript" src="/static/mana1/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="/static/mana1/js/tablesorter_min.js"></script>
<script type="text/javascript" src="/static/mana1/js/jquery.jeditable.js"></script>
<script type="text/javascript" src="/static/mana1/js/htmltable2csv.js"></script>
<link href="/static/mana1/css/tablecloth.css" rel="stylesheet" type="text/css" media="screen"/>
<script type="text/javascript" src="http://cl.gialen.com:20800/site_lib/zeroclipboard/ZeroClipboard.js"></script>
<script type="text/javascript" src="/static/mana1/js/clip.js"></script>
<script>
var i=1
$(document).ready(function(){
    clip2();
    $("#result").tablesorter();
});
</script>
<style>
    .chaxun tr td{
        border: 1px solid #E5F1F4;
    }
    .chaxun tr th{
        border: 1px solid #E5F1F4;
    }
</style>
<title>拳头商品查询</title>
</head>
<body><h1>拳头商品查询</h1>
<input type="button" id="io" value="&nbsp;复制&nbsp;"/>
<div id="edit_area" style="align=left">

<table width="600" id='result' class="tablesorter">
    <thead><tr><th>商品代码</th><th>商品名称</th></tr></thead><tbody>
{% for rs in result %}
    <tr><td>{{rs.0}}</td><td>{{rs.1}}</td></tr>
{% endfor %}
</tbody>
</table>
</div>
<p></p>
</body>
