<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf8">
<script type="text/javascript" src="/static/mana1/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="/static/mana1/js/tablesorter_min.js"></script>
<script type="text/javascript" src="/static/mana1/js/jquery.jeditable.js"></script>
<script type="text/javascript" src="/static/mana1/js/htmltable2csv.js"></script>
<script type="text/javascript" src="http://cl.gialen.com:20800/site_lib/DataTables-1.9.4/DataTables.min.js"></script>
<script type="text/javascript" src="http://cl.gialen.com:20800/site_lib/zeroclipboard/ZeroClipboard.js"></script>
<script type="text/javascript" src="/static/mana1/js/turn_off_light.js"></script>
<script type="text/javascript" src="/static/mana1/js/clip.js"></script>
<link href="/static/mana1/css/turn_off_light.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="/static/mana1/css/tablecloth.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="/static/mana1/css/datatable.css" rel="stylesheet" type="text/css" media="screen"/>
<script>
var i=1
$(document).ready(function(){
    oTable = $('#result').dataTable({
        "fnDrawCallback": function( oSettings ) {
          },
        "oLanguage": {
            "sSearch": "搜索:",
            "sZeroRecords": "没有检索到数据",
            "sLengthMenu": '显示 <select>'+
              '<option value="10">10</option>'+
              '<option value="20">20</option>'+                  
              '<option value="50">50</option>'+
              '<option value="-1">All</option>'+
              '</select> 条记录',
            "sInfo": "当前显示的是从第 _START_ 到第 _END_ 条记录 (共 _TOTAL_ 条)",
            "sInfoFiltered": " 　来源记录共 _MAX_ 条",
            "sInfoEmtpy": "没有数据",
            "sProcessing": "正在加载数据...",
            "oPaginate":
            {
                "sFirst": "首页",
                "sPrevious": "上一页",
                "sNext": "下一页",
                "sLast": "尾页"
            }
          }
    });
    clip();
    $("#result").tablesorter();
});
</script>
<style>
    .chaxun tr td{
        border: 1px solid #E5F1F4;
    }
    .chaxun tr th{
        border: 1px solid #E5F1F4;
    }
</style>
<title>商品配送单位规则</title>
</head>
<body>
<h1>商品配送单位规则</h1>
<div id="shadowDiv" class="hidDiv"></div>
<div id="tishi" class="hidDiv"><p align="center"><img src="/static/mana1/images/loading.gif"></img></p>正在加载数据!请稍后...</div>
<input type="button" id="io" value="&nbsp;复制&nbsp;"/></br>
<div id="edit_area" style="align=left">
<table width="1000" id='result' class="tablesorter">
    <thead><tr><th>代码</th><th>名称</th><th>代码说明</th><th>配货单位</th></tr></thead><tbody>
{% for rs in result %}
    <tr><td>{{rs.0}}</td><td>{{rs.1}}</td><td>{{rs.2}}</td><td>{{rs.3}}</td></tr>
{% endfor %}
</tbody>
</table>
</div>
<p></p>
</body>
</html>
